<h1>all restaurant</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
  <% end %>
  </br>  </br>
  </br>
  </br>

</ul>
  <%= link_to 'add a new restaurant', new_restaurant_path  %>

